{% block content %}
<meta charset="UTF-8">
<style>
   .thumb img  {
    border: 2px solid #55c5e9; /* Рамка вокруг фотографии */
    padding: 15px; /* Расстояние от картинки до рамки */
    background: #666; /* Цвет фона */
    margin-right: 10px; /* Отступ справа */
    margin-bottom: 10px; /* Отступ снизу */
   }
	.rightpic {
    float: right; /* Выравнивание по правому краю */
    margin: 0 0 5px 5px; /* Отступы вокруг фотографии */
   }
   .pointer { cursor: pointer; }
	.sign {
	    float: left; /* Выравнивание по правому краю */
	    padding: 7px; /* Поля внутри блока */
	    margin: 10px 0 5px 5px; /* Отступы вокруг */
	   }
	   .sign figcaption {
	    margin: 0 auto 5px; /* Отступы вокруг абзаца */
	    

	   }

  </style>


<body style="background-color:#FDF4E3">

	
	<h1>Рады приветствовать Вас </h1>

	
</body>
{% endblock %}
